@font-face {
    font-family: "yu-gi-oh-matrix";
    src: url("/fonts/yu-gi-oh-matrix.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "yu-gi-oh-matrix, sans-serif";
    font-weight: normal;
    font-style: normal;
}




body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("/bg-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    perspective: 1000px;
    
}





